<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>

  <springProfile name="default">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>${CONSOLE_LOG_PATTERN}</pattern>
      </encoder>
    </appender>
    <root level="info">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

  <springProfile name="docker">
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
        <providers>
          <pattern>
            <pattern>
              {
              "timestamp": "%date{yyyy-MM-dd HH:mm:ss.SSS}",
              "level": "%level",
              "app": "${APP_NAME:-}",
              "pid": "${PID:-}",
              "thread": "%thread",
              "class": "%logger{40}",
              "message": "%message",
              "ip": "%X{ip}",
              "trace_id": "%X{traceId}",
              "line": "%line",
              "stack_trace": "%exception"
              }
            </pattern>
          </pattern>
        </providers>
      </encoder>
    </appender>

    <root level="info">
      <appender-ref ref="JSON_CONSOLE"/>
    </root>
  </springProfile>


</configuration>
